<?xml version="1.0" encoding="utf-8"?>
<manifest package="fi.tuomela.teemu.blurter"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.BlurtActivity"
            android:label="@string/title_activity_blurt"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.tuomela.teemu.blurter.Activities.MainActivity"/>
        </activity>
        <activity
            android:name=".Activities.CreateBlurtActivity"
            android:label="@string/title_activity_create_blurt"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.tuomela.teemu.blurter.Activities.MainActivity"/>
        </activity>
        <activity
            android:name=".Activities.CreateCommentActivity"
            android:label="@string/title_activity_create_comment"
            android:parentActivityName=".Activities.BlurtActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fi.tuomela.teemu.blurter.Activities.BlurtActivity"/>
        </activity>

    </application>

</manifest>